@import url("reset.css");



main{
   background: url('../images/fundo-game.jpg') center no-repeat;
    background-size: 100% 100%; 
    height: 100vh;
    width: 100%;
        /* Display grid não faz nada sozinho, mas tem a propriedade place-itens que o ajuda */
    display: grid;
    place-items: center;
}

header{
    background: #ffffff25;
    width: calc(100% - 10%);
    max-width: 700px;
    /* display flex + align-itens */
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2rem;
    padding: 1rem 1.8rem ;
    border-radius: 8.2rem;
    box-shadow: 3px 3px;
}

.grid {
    

    max-width: 700px;
    grid-template-columns: repeat(7, 1fr);
    display: grid;
    gap: .5rem;
    

}

.card {
    
    aspect-ratio: 3/4;
    width: 7rem;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: all 700ms ease;

    

    

}

/* .card:active{

    transform: rotateY(180deg);


} */

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: 3px 3px 7px;
    border-radius: 5px;
    background-size: cover !important;


}


.front {
    /* background: url('../images/luffy.png') center; */
    background-position: center;
     transform: rotateY(180deg); 

}

.back {
    background: url('../images/parte\ de\ tras.png') center;
    backface-visibility: hidden;
    background-size: 100% 100% !important;
}

/* Classe que vão ser adicionada no javascript */

.reveal-card{
    transform: rotateY(180deg);
}

.disabled-card {
    filter: saturate(0);
    opacity: 0.9;

}

@media (max-width:700px) {
    .grid {
        grid-template-columns: repeat(4,1fr);

        

    }

    .card{
        aspect-ratio: 3/5;
        width: 4rem;

    }
}